<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Description</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Breakfast</td>
      <td>No</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Sport</td>
      <td>Yes</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Lesson</td>
      <td>Yes</td>
    </tr>
  </tbody>
</table>
